<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <p class="footer-tagline">{{ site.tagline }}</p>
      </div>
      
      <div class="footer-links">
        <h4>Explore</h4>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/books/">Books</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/connect/">Connect</a></li>
        </ul>
      </div>
      
      <div class="footer-blogs">
        <h4>More from Irene</h4>
        <ul>
          {% for blog in site.social.blogs %}
          <li><a href="{{ blog.url }}" target="_blank" rel="noopener">{{ blog.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; {{ site.currentYear }} {{ site.name }}. All rights reserved.</p>
    </div>
  </div>
</footer>